USE [master]
GO
/****** Object:  Database [Printajmo]    Script Date: 6. 09. 2017 22:45:47 ******/
CREATE DATABASE [Printajmo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Printajmo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Printajmo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Printajmo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Printajmo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Printajmo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Printajmo]
GO
USE [Printajmo]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[RoleId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[idComment] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nvarchar](128) NOT NULL,
	[idTiskarna] [int] NOT NULL,
	[comment] [nvarchar](1000) NOT NULL,
	[time] [datetime] NOT NULL,
	[parrentID] [int] NULL,
	[name] [nvarchar](50) NULL,
	[img] [nchar](200) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[idComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ratings]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ratings](
	[idRating] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [nvarchar](128) NOT NULL,
	[idTiskarna] [int] NOT NULL,
	[rating] [int] NOT NULL,
 CONSTRAINT [PK_ratings] PRIMARY KEY CLUSTERED 
(
	[idRating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tiskarne]    Script Date: 6. 09. 2017 22:45:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiskarne](
	[idtiskarne] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](45) NULL,
	[a4cb] [decimal](10, 2) NULL,
	[a4barvno] [decimal](10, 2) NULL,
	[a4cboboje] [decimal](10, 2) NULL,
	[a4barvnooboje] [decimal](10, 2) NULL,
	[ulica] [varchar](45) NULL,
	[postnast] [int] NULL,
	[mesto] [varchar](45) NULL,
	[email] [varchar](45) NULL,
	[telefonska] [varchar](45) NULL,
	[dodatno] [varchar](200) NULL,
	[longitude] [float] NULL,
	[latitude] [float] NULL,
	[lastnik] [nchar](128) NULL,
	[rating] [decimal](10, 2) NULL,
	[voteNumber] [int] NULL,
 CONSTRAINT [PK_tiskarne] PRIMARY KEY CLUSTERED 
(
	[idtiskarne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'0', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Tiskarna')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Uporabnik')
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'2', N'0112c69b-2da2-4d84-9015-9c6c3691be81')
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'2', N'2e8bd70d-f626-4fcb-9adc-e7e5827680a4')
INSERT [dbo].[AspNetUserRoles] ([RoleId], [UserId]) VALUES (N'2', N'4cbe0886-d962-476d-ac66-b824b1c3600c')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0112c69b-2da2-4d84-9015-9c6c3691be81', N'test2@gmail.com', 0, N'ACxc0fMbYQ6EQqH93KNCtqnr4ctPjkr0SQveO/ikKUgSMb/4dKIEIEQwivF41h+bCA==', N'a58027f7-9052-413e-99b2-4eb3617657d1', NULL, 0, 0, NULL, 1, 0, N'test2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2e8bd70d-f626-4fcb-9adc-e7e5827680a4', N'uporabnik@gmail.com', 0, N'AJtnvwfB13H/c61QUHWTF3z6hHuHtsvkdZCZRo2zh7pZ9NRgstXPXXsDu1X6fUJ8Kw==', N'a0b8ec0c-989c-4604-b750-f8cc8a2df102', NULL, 0, 0, NULL, 1, 0, N'uporabnik')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'4cbe0886-d962-476d-ac66-b824b1c3600c', N'test@gmail.com', 0, N'ABPRjE5JCQQAWpbctBERdDYy5Sucia2Ukoshrks7BiX/6D7iAg7OtEdmC+aBuio+ZA==', N'a46a538b-e00f-41fa-8cb5-15838172c62c', NULL, 0, 0, NULL, 1, 0, N'test')
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([idComment], [idUser], [idTiskarna], [comment], [time], [parrentID], [name], [img]) VALUES (1, N'2e8bd70d-f626-4fcb-9adc-e7e5827680a4', 2, N'Zelo ugodno!', CAST(N'2017-06-09T15:25:22.000' AS DateTime), 0, N'Uporabnik', N'../img/profile-icon.png                                                                                                                                                                                 ')
INSERT [dbo].[Comments] ([idComment], [idUser], [idTiskarna], [comment], [time], [parrentID], [name], [img]) VALUES (3, N'2e8bd70d-f626-4fcb-9adc-e7e5827680a4', 2, N'Moj odgovor je enak prejšnjemu.', CAST(N'2017-06-09T15:27:12.000' AS DateTime), 0, N'Uporabnik', N'../img/profile-icon.png                                                                                                                                                                                 ')
INSERT [dbo].[Comments] ([idComment], [idUser], [idTiskarna], [comment], [time], [parrentID], [name], [img]) VALUES (19, N'b4f338da-79a2-465f-956b-edfd54ee62b3', 2, N'hi', CAST(N'2017-09-06T17:35:18.000' AS DateTime), NULL, N'admin', N'~/img/profile-icon.png                                                                                                                                                                                  ')
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[ratings] ON 

INSERT [dbo].[ratings] ([idRating], [idUser], [idTiskarna], [rating]) VALUES (0, N'b4f338da-79a2-465f-956b-edfd54ee62b3', 116, 5)
INSERT [dbo].[ratings] ([idRating], [idUser], [idTiskarna], [rating]) VALUES (1, N'2e8bd70d-f626-4fcb-9adc-e7e5827680a4', 1, 4)
INSERT [dbo].[ratings] ([idRating], [idUser], [idTiskarna], [rating]) VALUES (2, N'b4f338da-79a2-465f-956b-edfd54ee62b3', 117, 3)
SET IDENTITY_INSERT [dbo].[ratings] OFF
SET IDENTITY_INSERT [dbo].[tiskarne] ON 

INSERT [dbo].[tiskarne] ([idtiskarne], [naziv], [a4cb], [a4barvno], [a4cboboje], [a4barvnooboje], [ulica], [postnast], [mesto], [email], [telefonska], [dodatno], [longitude], [latitude], [lastnik], [rating], [voteNumber]) VALUES (2, N'Printek', CAST(5.00 AS Decimal(10, 2)), CAST(7.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(8.00 AS Decimal(10, 2)), N'Dunajska 25', 1000, N'Ljubljana', N'printek@gmail.com', N'031569852', N'se več!', 13.496682, 46.273621, NULL, CAST(3.66 AS Decimal(10, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[tiskarne] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FK_dbo_AspNetUserClaims_dbo_AspNetUsers_UserId]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_dbo_AspNetUserClaims_dbo_AspNetUsers_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FK_dbo_AspNetUserLogins_dbo_AspNetUsers_UserId]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_dbo_AspNetUserLogins_dbo_AspNetUsers_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FK_AspNetUserRoles_AspNetUsers]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_AspNetUserRoles_AspNetUsers] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FK_Comments_AspNetUsers]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Comments_AspNetUsers] ON [dbo].[Comments]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Comments_tiskarne]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Comments_tiskarne] ON [dbo].[Comments]
(
	[idTiskarna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FK_ratings_AspNetUsers]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ratings_AspNetUsers] ON [dbo].[ratings]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ratings_tiskarne]    Script Date: 6. 09. 2017 22:45:48 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ratings_tiskarne] ON [dbo].[ratings]
(
	[idTiskarna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo_AspNetUserClaims_dbo_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo_AspNetUserClaims_dbo_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo_AspNetUserLogins_dbo_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo_AspNetUserLogins_dbo_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_AspNetUsers] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_AspNetUsers]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_tiskarne] FOREIGN KEY([idTiskarna])
REFERENCES [dbo].[tiskarne] ([idtiskarne])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_tiskarne]
GO
ALTER TABLE [dbo].[ratings]  WITH CHECK ADD  CONSTRAINT [FK_ratings_AspNetUsers] FOREIGN KEY([idUser])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ratings] CHECK CONSTRAINT [FK_ratings_AspNetUsers]
GO
ALTER TABLE [dbo].[ratings]  WITH CHECK ADD  CONSTRAINT [FK_ratings_tiskarne] FOREIGN KEY([idTiskarna])
REFERENCES [dbo].[tiskarne] ([idtiskarne])
GO
ALTER TABLE [dbo].[ratings] CHECK CONSTRAINT [FK_ratings_tiskarne]
GO
USE [master]
GO
