 <!-- Button trigger modal -->

@model Printajmo.Models.LoginViewModel



    @Html.AntiForgeryToken()
    <!-- Modal -->
    <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content paddingBost">
                <br>
                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#signin" data-toggle="tab">Prijava</a></li>
                        <li class=""><a href="#signup" data-toggle="tab">Registracija</a></li>
                        @*<li class=""><a href="#pozabljeno" data-toggle="tab">Pozabljeno</a></li>*@
                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        @Html.Partial("_PrijavaPartial", new Printajmo.Models.LoginViewModel())
                        @Html.Partial("_RegistracijaPartial", new Printajmo.Models.RegisterViewModel())
                        @Html.Partial("_ForgotPassword", new Printajmo.Models.ForgotPasswordViewModel())
                    </div>
                </div>
                
            </div>
        </div>
    </div>
